:root {
  --yovo-blue: #172E4E;

}

* {
  margin: 0;
  color: #1B1B1B;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Barlow', sans-serif;
}

body {
  background-color: #EAEAEA;
}

.hidden {
  display: none !important;
}

/* -------------------LANDING-------------------- */

.logo {
  background-color: white;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 30px;
}

#landing-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.color-line {
  display: flex;
}

.color-line div:first-child {
  width: calc(50vw - 27px);
  border: #FF0000 4px solid
}

.color-line div:nth-child(2) {
  width: 54px;
  border: #1BB3A8 4px solid
}

.color-line div:last-child {
  width: calc(50vw - 27px);
  border: #0000FF 4px solid
}


#landing-item-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25vh;
  margin: 5px;
  text-align: center;
  background-color: var(--yovo-blue);
}

.landing-item img {
  /* width: 25vw; */
  height: 80%;
}
.landing-item p {
  width: 90%;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* -------------------FORM PAGE-------------------- */

#form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
}

#form-container h3 {
  font-size: 20px;
  font-weight: bold;
  display: block;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 1em;
  width: 85vw;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  font-size: 18px;
}

#voter-info {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

#req-field {
  width: 100%;
}
#req-field p {
  text-align: right;
  margin: 10px 20px 0 0;
  font-weight: bold;
}

.search {
  margin-top: 30px;
  border: 0;
  width: 60vw;
  height: 50px;
  border-radius: 25px;
  background-color: var(--yovo-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: -2px 2px 5px darkgray;
  color: #F4F4F4;
}

/* -------------------Day of---------------------- */

#info-page-container {
  width: 100vw;
  /* height: 100vh; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-address {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#info-container {
  width: 90vw;
  height: fit-content;
}

.card {
  width: 90vw;
  box-shadow: 2px 2px 7px lightgrey;
  border-radius: 15px;
  background-color: white;
  align-items: center;
  display: flex;
  margin: 10px 0 10px 0;
}

.card img {
  margin: 20px;
}

#current-address

.address {
  margin: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#edit-address {
  width: fit-content;
  margin-left: 0px;
}

.card h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.card p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
}
.card a {
  margin: 0 10px 0 20px;
  text-decoration: none;
  color: #0058FF;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.checklist {
  width: 90vw;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.checklist img {
  display: inline;
  vertical-align: middle;
  padding: 0 5px;
}
.checklist h3 {
  display: inline-block;
  font-size: 1.3em;
  margin: 30px 35px  

}

ul {
  list-style: none;  
  font-size: 1.3em;
  margin-right: 20px;
}

ul li {
  margin: 20px 0 20px 0;
  font-family: 'Quicksand', sans-serif;
}

.checklist-entry {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: -10px;
}

.checklist-entry img {
  height: fit-content;
  margin-top: 28px;
  margin-right: 5px;
}


@media only screen and (min-width: 600px) {
  #landing-container {
    height: fit-content;
  }

  #landing-item-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--yovo-blue);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .landing-item,
  .landing-item p {
    width: 15vw;
    height: 23vw;
  }

  #form-container {
    height: fit-content;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #form-container h3 {
    width: 100%;
  }

  input {
    width: 70vw;
  }

  .small-form-fields {
    width: max-content;
  }
  .small-form-fields input, .small-form-fields label {
    width: 31.5vw !important;
    margin: 0 0 5px 0;
  }
  .small-form-fields:nth-child(2),
  .small-form-fields:nth-child(4) {
    margin: 0 2vw 5px 0;
  }
  .small-form-fields:nth-child(3),
  .small-form-fields:nth-child(5) {
    margin: 0 0 5px 2vw;
  }

  .search {
    width: 20vw;
    margin-bottom: 150px;
  }

  #req-field {
    position: relative;
  }

  #req-field p {
    position: absolute;
    right: 15vw;
    top: -20px;
  }

  #info-page-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .polling-info {
    margin: 0 10px;
  }

  #current-address
  .card {
    position: relative;
  }

  #current-address
  .card
  img {
    position: absolute;
    right: 20px;
  }

  .info-container
  .polling-info,
  .info-container
  .polling-info
  .card,
  .checklist 
  {
    width: 40vw;
  }

  .checklist {
    margin-top: 52px;
  }

}